name: tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up C compiler
      shell: bash
      run: |
        if [ "${{ runner.os }}" == "Windows" ]; then
          choco install mingw
        elif [ "${{ runner.os }}" != "macOS" ]; then
          sudo apt-get install -y gcc
        fi

    - name: Compile and execute tests.
      shell: bash
      run: ./build test

